ligneDeCommande.dtd

<!-- DTD created at Fri Aug 19 07:20:47 CEST 2022 with EditiX XML Editor (http://www.editix.com). Please insert an encoding attribute header for converting any DTD  -->

<!ELEMENT ligne_commande(quantite_commande,quantite_livre,montant)>
<!ELEMENT  quantite_commande(#PCDATA)>
<!ELEMENT  quantite_livre(#PCDATA)>
<!ELEMENT  montant(#PCDATA)>
<!ATTLIST ligne_commande no_ligne ID #REQUIRED code_article ID #REQUIRED no_commande ID #REQUIRED)>
<!ATTLIST tag  attribute CDATA #REQUIRED>

