stockDepot.dtd

<!-- DTD created at Fri Aug 19 07:20:47 CEST 2022 with EditiX XML Editor (http://www.editix.com). Please insert an encoding attribute header for converting any DTD  -->

<!ELEMENT  stock_depot(stock)>
<!ELEMENT stock(quantite_stock,quantite_reserver)>
<!ELEMENT  quantite_stock(#PCDATA)>
<!ELEMENT  quantite_reserver(#PCDATA)>
<!ATTLIST stock code_article ID #REQUIRED code_depot ID #REQUIRED)>
<!ATTLIST tag  attribute CDATA #REQUIRED>

